Webservice/Connected Services/ServiceReferencePhongThiNghiem/WebServicePhongThiNghiem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetThietBiByDM">
        <s:complexType />
      </s:element>
      <s:element name="GetThietBiByDMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetThietBiByDMResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetThietBiToiHan5Ngay">
        <s:complexType />
      </s:element>
      <s:element name="GetThietBiToiHan5NgayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetThietBiToiHan5NgayResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetThietBiHetHan">
        <s:complexType />
      </s:element>
      <s:element name="GetThietBiHetHanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetThietBiHetHanResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBaiTNByIdGiaoVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idgv" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBaiTNByIdGiaoVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBaiTNByIdGiaoVienResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetThietBiByDMSoapIn">
    <wsdl:part name="parameters" element="tns:GetThietBiByDM" />
  </wsdl:message>
  <wsdl:message name="GetThietBiByDMSoapOut">
    <wsdl:part name="parameters" element="tns:GetThietBiByDMResponse" />
  </wsdl:message>
  <wsdl:message name="GetThietBiToiHan5NgaySoapIn">
    <wsdl:part name="parameters" element="tns:GetThietBiToiHan5Ngay" />
  </wsdl:message>
  <wsdl:message name="GetThietBiToiHan5NgaySoapOut">
    <wsdl:part name="parameters" element="tns:GetThietBiToiHan5NgayResponse" />
  </wsdl:message>
  <wsdl:message name="GetThietBiHetHanSoapIn">
    <wsdl:part name="parameters" element="tns:GetThietBiHetHan" />
  </wsdl:message>
  <wsdl:message name="GetThietBiHetHanSoapOut">
    <wsdl:part name="parameters" element="tns:GetThietBiHetHanResponse" />
  </wsdl:message>
  <wsdl:message name="GetBaiTNByIdGiaoVienSoapIn">
    <wsdl:part name="parameters" element="tns:GetBaiTNByIdGiaoVien" />
  </wsdl:message>
  <wsdl:message name="GetBaiTNByIdGiaoVienSoapOut">
    <wsdl:part name="parameters" element="tns:GetBaiTNByIdGiaoVienResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServicePhongThiNghiemSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetThietBiByDM">
      <wsdl:input message="tns:GetThietBiByDMSoapIn" />
      <wsdl:output message="tns:GetThietBiByDMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetThietBiToiHan5Ngay">
      <wsdl:input message="tns:GetThietBiToiHan5NgaySoapIn" />
      <wsdl:output message="tns:GetThietBiToiHan5NgaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetThietBiHetHan">
      <wsdl:input message="tns:GetThietBiHetHanSoapIn" />
      <wsdl:output message="tns:GetThietBiHetHanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBaiTNByIdGiaoVien">
      <wsdl:input message="tns:GetBaiTNByIdGiaoVienSoapIn" />
      <wsdl:output message="tns:GetBaiTNByIdGiaoVienSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicePhongThiNghiemSoap" type="tns:WebServicePhongThiNghiemSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThietBiByDM">
      <soap:operation soapAction="http://tempuri.org/GetThietBiByDM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThietBiToiHan5Ngay">
      <soap:operation soapAction="http://tempuri.org/GetThietBiToiHan5Ngay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThietBiHetHan">
      <soap:operation soapAction="http://tempuri.org/GetThietBiHetHan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaiTNByIdGiaoVien">
      <soap:operation soapAction="http://tempuri.org/GetBaiTNByIdGiaoVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicePhongThiNghiemSoap12" type="tns:WebServicePhongThiNghiemSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThietBiByDM">
      <soap12:operation soapAction="http://tempuri.org/GetThietBiByDM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThietBiToiHan5Ngay">
      <soap12:operation soapAction="http://tempuri.org/GetThietBiToiHan5Ngay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThietBiHetHan">
      <soap12:operation soapAction="http://tempuri.org/GetThietBiHetHan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaiTNByIdGiaoVien">
      <soap12:operation soapAction="http://tempuri.org/GetBaiTNByIdGiaoVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServicePhongThiNghiem">
    <wsdl:port name="WebServicePhongThiNghiemSoap" binding="tns:WebServicePhongThiNghiemSoap">
      <soap:address location="https://localhost:44379/WebServicePhongThiNghiem.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicePhongThiNghiemSoap12" binding="tns:WebServicePhongThiNghiemSoap12">
      <soap12:address location="https://localhost:44379/WebServicePhongThiNghiem.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>